# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
*.whl

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# pipenv
*.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Local models
localModels/*

# Logs and temporary files
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store

# Other
*.env
*.env.*